.ProjectUI{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:50px;
    margin: 100px 0;
    transition-duration: 0.2s;
}

.ProjectUI:hover{
    transform: scale(1.01);
}


.textArea h1{
    font-size: var(--title);
    color: var(--white);
}

.textArea p{
    font-size: var(--normalText);
    color:var(--gray)
}

.textArea a{
    font-size: var(--normalText);
    color: var(--black);
    background-color: var(--yellow);
    border: none;
    padding: 10px 30px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.icons img{
    margin: 0 10px;
}

.icons{
    margin-top: 10px;
    margin-bottom: 20px;
}

hr{
    display: inline-block;
    border-color: var(--yellow);
    width: 30vw;
    margin: 0 ;
}
.lineRight{
    text-align: right;
}

.lineLeft{
    text-align: left;
}


@media  screen and (max-width: 800px) {

    .rightProject{
        flex-wrap: wrap;
    }

    .leftProject{
        flex-wrap: wrap-reverse;
    }

    .ProjectUI{
        justify-content: center;
        gap:50px;
    }

    .textArea h1{
        font-size: var(--normalText);
    }
    
    .textArea p{
        font-size: var(--smallest);
    }
    
    .textArea a{
        font-size: var(--smallest);
    }

    .lineRight{
        text-align: center;
    }
    
    .lineLeft{
        text-align: center;
    }


}
