.ReasonCard{
    background-color: var(--back);
    padding: 20px 30px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    height: 200px;
}

.ReasonCard h3{
    color: var(--yellow);
}

.ReasonCard span{
    font-size: var(--title);
}

@media  screen and (max-width: 800px) {

    .ReasonCard p{
        font-size: var(--mobileSmall);
    }
}