.About{
    padding: 100px 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.aboutText{
    width: 30vw;
    color: var(--gray);
    margin: 20px 0;
}


.aboutList ul{
    display: flex;
    gap:30px;
    list-style: none;
    padding-left: 20px;
}

.yellowMark{
    color: var(--yellow);
}

.aboutListLeft li:nth-child(1)::before{
    content: "🤖 ";
}

.aboutListLeft li:nth-child(2)::before{
    content: "🚀 ";
}

.aboutListLeft li:nth-child(3)::before{
    content: "📚 ";
}

.aboutListRight li:nth-child(1)::before{
    content: "🧾 ";
}

.aboutListRight li:nth-child(2)::before{
    content: "🖌️ ";
}

.aboutListRight li:nth-child(3)::before{
    content: "🖼️ ";
}




@media  screen and (max-width: 800px) {

    
    .About{
        align-items: center;
    }

    .aboutText{
        width: fit-content;
    }

    .aboutList ul{
        gap:15px;
    }


}