.About{
    padding: 100px 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.aboutText{
    width: 30vw;
    color: var(--gray);
    margin: 20px 0;
}


.aboutList ul{
    display: flex;
    gap:60px;
}



@media  screen and (max-width: 800px) {

    
    .About{
        align-items: center;
    }

    .aboutText{
        width: fit-content;
    }


}