.backToTopContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    animation: jump 2s linear none infinite;
    z-index: 1;
    transition-duration: 0.2s;
}

.backToTopContainer.visible{
    visibility: visible;
    opacity: 1;
}

@keyframes jump {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}
