.Contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
}

.Contact h2{
    font-size: var(--big);
}

.Contact p{
    font-size: var(--smalleset);
}

.ContactDetails{
    color: var(--gray);
}

.Btn{
    background-color: var(--yellow);
    padding: 10px 30px;
    color: var(--black);
    border-radius: 10px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition-duration: 0.2s;
}

.Btn:hover{
    transform: translateY(-2px);
}

.link{
    text-decoration: underline;
    color: var(--gray);
}

@media  screen and (max-width: 800px) {

    
    .Contact h2{
        font-size: var(--title);
    }
    
    .Contact p{
        font-size: var(--mobileSmall);
    }

    .Btn{
        font-size: var(--mobileSmall);
    }
    
    .link{
        font-size: var(--mobileSmall);
    }
    
    


}