.Footer{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.Footer a{
    display: flex;
    align-items: center;
    gap:10px;
}

.Footer h4{
    color: var(--gray);
    font-size: var(--smallest);
    font-weight: 300;
}

@media  screen and (max-width: 800px) {

    
    .Footer h4{
        font-size: var(--mobileSmall);
    }

    .Footer img{
        width: 30px;
    }


}