.Projects{
    padding: 50px 10vw;
}

.projectsText{
    margin-bottom: 100px;
}

@media  screen and (max-width: 800px) {

    .whiteTitle{
        font-size: var(--normalText);
    }

    .yellowText{
        font-size: var(--smallest);
    }

}