.Work{
    padding: 50px 0;
}

.workIntro{
    text-align: center;
    margin: 100px 0;
}

.workIntro p{
    font-size: var(--normalText);
    color: var(--gray);
}

.workDetails h2{
    font-size: var(--title);
    color: var(--yellow);
}

.workDetails span{
    color: var(--yellow);
}

.workCards{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 50px;
}

@media  screen and (max-width: 800px) {

    .workDetails p{
        width: fit-content;
        text-align: center;
        font-size: var(--small);
    }

    .workDetails h2{
        text-align: center;
    }
  
    .workIntro p{
        font-size: var(--small);
    }

    .workCards{
        justify-content: center;
    }
}
  